@tailwind base;
@tailwind components;
@tailwind utilities;

.title_name {
    text-align: center;
    font-size: 400%;
    line-height: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-top: 10vh;
}

.char {
    transform: translateY(115px);
    transition: transform 0.5s;
}

:root {
    background-color: hsla(42, 60%, 81%, 0.836);
}