@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: hsl(210,66.67%,97.65%);
}

.title_name {
  text-align: center;
  font-size: 400%;
  line-height: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.typewriter-list {
  display: grid;
  justify-items: start;
}

.typewriter-text {
  font-size: 2em;
  letter-spacing: 5px;
  border-right: 1px solid black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:  typing 2s 3 alternate forwards; 
}

@keyframes cursor {
  0% {border-color: transparent; content: "Hello World";}
  100% {border-color: transparent;}
}

@keyframes typing {
  from { width: 0%;}
  to { width: 100%; inner: "water";}
}

.water {
  pointer-events: none;
}

.green {
    
    background-color: green;
    height: 500px;
    width: 500px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
}

.hid {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.image {

    display: inline;
}
